<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a-scene>
      <a-assets>
        <a-asset-item id="dummy" src="/dummy.glb"></a-asset-item>
      </a-assets>

      <a-entity id="model" position="0 0 -3" gltf-model="#dummy"/>

      <a-sky color="#ECECEC"></a-sky>
    </a-scene>

    <script>

    let scene = document.querySelector("a-scene")

    function findObjectNamed(obj3D, name){
        if(obj3D.name === name){
          return obj3D
        }

        if(obj3D.children.length == 0) return null;

        for(var i=0; i < obj3D.children.length; i++){
          let c = findObjectNamed(obj3D.children[i], name)
          if(c != null) return c;
        }

      }

      //setTimeout(()=>{
        let holder = document.querySelector("#model")
        holder.addEventListener("model-loaded", ()=>{
          let armature = findObjectNamed(holder.object3D, "Armature")
          console.log("Armature: ",armature.parent)

          var helper = new THREE.SkeletonHelper( armature );
          helper.material.linewidth = 3;
          scene.object3D.add( helper );

        })

      //}, 1000)










    </script>

  </body>
</html>
